* {
    margin: 0;
    padding: 0;
}

.item-details {
    display: flex;
    gap: 40px;
    max-width: 1000px;
    margin: 100px auto 50px;
}

.detail-img {
    flex-shrink: 0;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

.details {
    flex: 1;
    text-align: left;
    font-family: "Anybody", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.price-section {
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin-bottom: 20px;
}

#price {
    font-size: 1.8rem;
    font-weight: bold;
}

.discount {
    font-size: 2rem;
    color: #E44D26;
    font-weight: bold;
}

.sizes {
    margin-bottom: 20px;
}

.size-btn {
    border: none;
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    background: white;
    color: black;
    border: 2px solid black;
}

.size-btn.active {
    background: black;
    color: white;
}

#quantity {
    font-size: 1rem;
    padding: 8px;
    margin-bottom: 30px;
    width: 10vw;
    text-align: center;
}

.buy-btn {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    background: #8B0000;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 40px;
    border-radius: 8px;
}

.description {
    font-family: "Anybody", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.description h3 {
    margin-bottom: 10px;
}

.description p {
    border: 2px solid black;
    padding: 15px;
}

/* Modal overlay */
.modal-overlay-item {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-item {
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
}

.modal-item p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.modal-item button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.hidden-item {
    display: none;
}

.modal-actions-item {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.modal-actions-item button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

#confirm-btn-item {
    background: #007bff;
    color: white;
}

#cancel-btn-item {
    background: #ccc;
    color: #333;
}

.back-btn {
    margin: 20px;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.back-btn :hover {
    cursor: pointer;
}